In [38]:
#Soham- 25070123170
#Experiment 4 - Sets

#***Set (Unordered)***

In [39]:
#creation of set
set1 ={"Apple", "Banana", "Cherry"}
print(set1)

#Is it unordered

{'Cherry', 'Apple', 'Banana'}

# ***No Duplicates***

In [40]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

# ***True And 1 Is Considered As One***

In [41]:
thisset = {"apple", "banana", "cherry", True, 1 ,2 }
print(thisset)

{True, 2, 'banana', 'apple', 'cherry'}

# ***Membership***

In [42]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)
print("Grapes" in thisset)

True
False

# **Addition and removal of elements in a set**

In [43]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")
thisset.add(2)
thisset.remove("banana")

print(thisset)

#we cannot replace a item in a set but we can add and remove a element

{2, 'apple', 'orange', 'cherry'}

# ***Set Operations***

In [44]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union : ",A|B)
print("intersection : " ,A & B)
print("Difference1 : ",A - B)
print("Difference2 : ",A ^ B)
print("Symmetric Difference : ",A ^ B)

Union :  {1, 2, 3, 4, 5, 6}
intersection :  {3, 4}
Difference1 :  {1, 2}
Difference2 :  {1, 2, 5, 6}
Symmetric Difference :  {1, 2, 5, 6}

# ***FrozenSet***

In [45]:
x = frozenset({"Apple","Banana","Cherry"})
print(x)
print(type(x))
# we cannot add orremove elements from a frozen set

frozenset({'Cherry', 'Apple', 'Banana'})
<class 'frozenset'>

# ***Problem 1***

In [46]:
event1 = ["A","B","C","D","B","C"]
uniqe_participants= set(event1)
print(uniqe_participants)

{'B', 'A', 'C', 'D'}

# ***Problem 2***

In [47]:
student1 = {"Science","Python","Biology","ML"}
student2 = {"Maths","BEEE","English","Python"}
student3 = {"Python","SST","Hindi","PE"}
common_Subs = student1 & student2 & student3
print(common_Subs)

{'Python'}

# ***Problem 3***

In [48]:
Cricket ={"A","B","C"}
Football ={"C","D","E"}
bothclubs = Cricket &Football
print("Student in both clubs : ",bothclubs)
onlyone = Cricket ^ Football
print("Student in only one club : ",onlyone)

Student in both clubs :  {'C'}
Student in only one club :  {'D', 'B', 'E', 'A'}

# ***Problem 4***

In [49]:
all_student = {"A","B","C","D","E"}
present_Student = {"A","C","E"}
absent_Student = all_student - present_Student
print("Absent Students : ",absent_Student)

Absent Students :  {'B', 'D'}

# ***Problem 5***

In [52]:
courses = {"ETC101","ETC102","ETC103"}
courses.discard("ETC102")
print("Updates Cources : ",courses)

Updates Cources :  {'ETC103', 'ETC101'}